
      <div class="zn-container" >
      
          <div id="znid-665591893023"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i>UTVS THREAD BETWEEN MOUNTAINS ON A CONVERTED TRAIN TRESTLE.&nbsp;PHOTO COURTESY OF WEST VIRGINIA DEPARTMENT OF TOURISM.</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-644220993774"
            class="zn-element-wrapper 
                
              " 
            data-type="heading" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   ><p>How do you commemorate a legendary feud? If you’re the state of W.Va., you do it with 1,000 miles of off-road recreational vehicle trails.</p></h3>
            </div>
            
            
          </div>
        

          <div id="znid-553398875246"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>“Watch this!” Terri shouted as she drove our borrowed UTV into — and thankfully, out of — a massive puddle, throwing water, dirt, and god-knows-what-else onto everyone seat-belted inside. Covered in mud and triumph, she continued careening along the Buffalo Mountain Trail, part of the <a href="https://trailsheaven.com/" target="_blank">Hatfield-McCoy Trails</a>, leaving her life as a paralegal at a New York law firm far behind as she plunged us into the next hollow and attempted more death-defying turns.</p><p><br></p><p>There’s something about riding a four-wheeler through the mountains of West Virginia that turns even the most circumspect person into an adrenaline-fueled maniac. My turn at the wheel was its own “hold my beer” experience, leaving us so covered in muck that we had to wear trash bags when it was time to get back in the car.</p><p><span style="color: inherit; font-family: inherit; font-size: inherit; letter-spacing: 0px; text-align: inherit;"><br></span></p><p><span style="color: inherit; font-family: inherit; font-size: inherit; letter-spacing: 0px; text-align: inherit;">While we didn’t end up feudin’ and fightin’ as the Hatfields and McCoys were known to do, we did end up having a ridiculous amount of fun while exploring the dirt paths dedicated to those famous families. Established in 2000, the Hatfield-McCoy Trails system is made up of 13 different trails totaling more than 1,000 miles through nine southern West Virginia counties. We not only experienced the exhilaration of hightailing it down those trails but also learned more about the history of these famous families.</span></p></div>
            </div>
            
            
          </div>
        

          <div id="znid-616522788394"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/Trio-mudding-FEATURED-20103550.jpg" alt="" draggable="false"    />
          
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-116475932672"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i>a mud covered trio — Terri Marshall, WRITER Vanessa Orr, and Jacqueline Proctor. Photo provided by vanessa Orr.</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-518301358164"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>While everyone knows about the feud, time (and perhaps, whoever is telling the story) has obscured the real reason for the fight. Some say it started over the ownership of a hog. Others says a love affair between Johnse Hatfield and Roseanna McCoy lit the match. (Sidebar: he abandoned her while she was pregnant and married her cousin!) Flames could have also been fanned by one McCoy becoming a Union soldier while the rest of both families were Confederates.</p><p><br></p><p>Regardless, the families began feuding in the late 1800s, leaving a trail of death and destruction that is now memorialized through movies, museums displays, and the Hatfield-McCoy Trails.</p><p><span style="color: inherit; font-family: inherit; font-size: inherit; letter-spacing: 0px; text-align: inherit;"><br></span></p><p><span style="color: inherit; font-family: inherit; font-size: inherit; letter-spacing: 0px; text-align: inherit;">To ride these trails, you need a permit, which can be found at any trailhead facility or at 180 authorized vendors listed at <a href="www.trailsheaven.com">www.trailsheaven.com</a>. Permits cost $26.50 plus tax for West Virginia residents and $50 plus tax for nonresidents, and are good until Dec. 31 of the year purchased. While many people bring their own off-road recreational vehicle (ORV), you can also rent them at locations listed on the website.</span></p></div>
            </div>
            
            
          </div>
        

          <div id="znid-284263996561"
            class="zn-element-wrapper 
                
              " 
            data-type="heading" data-background-type="color" data-border-enable="true"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   >MADE IN WEST VIRGINIA</h3>
            </div>
            
            
          </div>
        

          <div id="znid-241952771733"
            class="zn-element-wrapper 
                
              " 
            data-type="collection" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              
            {% assign oriCollection = collection %}
            {% assign collection = collections['made-in-west-virginia'] %} 
            
        <div id="" class="zn-collection "   >
          {% assign productCount = collection.products | size | at_most: 12 %}
          {% if productCount > 0 %}
            {% paginate collection.products by 12 %}
              <div class="zn-products">
              {% for product in collection.products limit:productCount %}
                <div class="zn-product zn-element-wrapper" data-type="product">
                  <div class="zn-product-children">
                    
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-736887378601-{{forloop.index | minus: 1}}"
            class="zn-element-wrapper 
                
              " 
            data-type="product-image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-product-image"   >
          {% assign imageLink = '' %}

          {% if product.images.size > 0 %}
            {% assign imageLink = product.images[0].src | img_url: 'original' %}
          {% endif %}

          {% assign alternateImageLink = imageLink %}
          {% if product.images.size > 1 %}
            {% assign alternateImageLink = product.images[1].src | img_url: 'original' %}
          {% endif %}

          <div class="zn-product-video"></div>

          {% if imageLink != '' %}
          {% if true %}
          <a href="{{product.url}}" class="zn-nodrag">
          {% else %}
          <a>
          {% endif %}
            {% if 'none' == 'zoom' %}
            <img class="zn-secondary-image zn-nodrag" src="{{imageLink}}" alt="{{product.title | escape}}" />
            {% endif %}
            {% if 'none' == 'alternate' %}
            <img class="zn-secondary-image zn-nodrag" src="{{alternateImageLink}}" alt="{{product.title | escape}}" />
            {% endif %}
            <img id="" class=" zn-primary-image zn-nodrag" src="{{imageLink}}" alt="{{product.title | escape}}" />
          </a>
          {% else %}
          <div class="zn-no-image">
            This product has no images.
          </div>
          {% endif %}
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-427312279247-{{forloop.index | minus: 1}}"
            class="zn-element-wrapper 
                
              " 
            data-type="product-title"
            
          >
            <div class="zn-element zn-lg  ">
              
        <h3 id="" class="zn-product-title "   >
          {% if true %}
          <a href="{{product.url}}">
          {% else %}
          <a>
          {% endif %}
            {{product.title}}
          </a>
        </h3>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
                  </div>
                </div>
              {% endfor %}
              </div>

              {% if 'false' == 'true' %}
                <div class="zn-pagination">
                  {% assign prevLink = '' %}
                  {% if paginate.current_page > 1 %}
                    {% assign prevPage = paginate.current_page | minus: 1 %}
                    {% assign prevLink = '?page=' | append: prevPage %}
                  {% endif %}

                  {% assign nextLink = '' %}
                  {% if paginate.current_page < paginate.pages %}
                    {% assign nextPage = paginate.current_page | plus: 1 %}
                    {% assign nextLink = '?page=' | append: nextPage %}
                  {% endif %}

                  <a class="zn-pagination-prev" {% if prevLink != '' %} href="{{prevLink}}" {% endif %}>
                    <svg viewBox="0 0 10 6" style="transform: rotate(90deg); transform-origin: center;">
                      <path d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                  <div class="zn-pagination-page">
                    {{ paginate.current_page }}
                  </div>
                  <a class="zn-pagination-next" {% if nextLink != '' %} href="{{nextLink}}" {% endif %}>
                    <svg viewBox="0 0 10 6" style="transform: rotate(-90deg); transform-origin: center;">
                      <path d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                </div>
              {% endif %}
            {% endpaginate %}
          {% else %}
            <div class="zn-no-product">
              {% if 'MADE IN WEST VIRGINIA' == '' %}
              Please choose collection to show products from sidebar.
              {% else %}
              No products found. Please add some products to the collection first.
              {% endif %}
            </div>
          {% endif %}
        </div>
       
            {% assign collection = oriCollection %}
          
            </div>
            
            
          </div>
        

          <div id="znid-100564317947"
            class="zn-element-wrapper 
                
              " 
            data-type="heading" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i style="font-weight: normal;">Every purchase helps keep our Appalachian magazine alive and thriving.</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-412340898973"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>Turns out, the trails aren’t the only destination for your ORV. Many area towns have made it legal to ride these machines on marked streets, where you’ll find cute shops, like <a href="https://www.facebook.com/AppalachianArtisanMuseumandTour/" target="_blank">Appalachian Lost &amp; Found General Store</a> in Matewan, and authentic Appalachian eats, like deep-fried hot dogs at <a href="https://trail12bbq.com/" target="_blank">PT12 Pizzeria &amp; BBQ</a> in Gilbert. </p><p><br></p><p>For those who want to try some real West Virginia moonshine now that it’s legal, the Hatfield Family Distillery in Charleston, which is owned by the great-great-grandson of Devil Anse Hatfield, serves shines made from family recipes plus local whiskey and wine.</p><p><br></p><p>For history buffs, West Virginia’s museums and monuments highlight the state’s unusual past. In Logan, for example, The Coal House is a fascinating building made out of 65 tons of bituminous coal. The Hatfield Family Cemetery, about 15 miles south of Logan, boasts a foreboding life-sized marble statue of Capt. William Anderson AKA “Devil Anse” Hatfield, the patriarch and one of the main participants of the long-standing feud. </p><p><br></p><p>Over in Charleston, The West Virginia State Museum covers everything West Virginia — starting all the way back in the Paleozoic period — and nearby Spring Hill Cemetery provides a stunning view of the state’s biggest downtown. While there, be sure to check out the hollow, zinc monument with a giant angel on top. During Prohibition, bootleggers hid hooch inside it.</p><p><br></p><p>While you don’t have to end up as dirt-covered as we did, if you like moonshine, ‘muddin,’ or just want to experience some real West Virginia history, the Hatfield-McCoy Trails are one wild ride.</p><p><br></p><p>To plan your trip, visit <a href="www.trailheaven.com">www.trailheaven.com</a> for more details.</p></div>
            </div>
            
            
          </div>
        

          <div id="znid-818651514733"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/UTVs-in-town-FEATURED-20104355.jpeg" alt="" draggable="false"    />
          
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-651733288788"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i>UTVs and atvs in a west virginia town. photo courtesy of&nbsp;West Virginia Department of Tourism.</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-115717030647"
            class="zn-element-wrapper 
                
              " 
            data-type="horizontal_line" data-full-width="false"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-horizontal-line"> 
          <hr id="" class=""    />
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-324028692836"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   >Freelance writer. Road tripper. Travel diva. Dog rescuer. <a href="http://www.vanessaorrink.com/" target="_blank">Vanessa Orr</a> writes for food or Kibbles 'N Bits. Based out of Pittsburgh, Pennsylvania via Juneau, Alaska, she's been a freelance writer for more than 25 years. An avid traveler, she always brings home amazing memories, intriguing stories...and often more dogs.&nbsp;</div>
            </div>
            
            
          </div>
        

          <div id="znid-728827235911"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="8-4 8-4 12-12" data-vertical-align="center" data-border-enable="true" data-full-width="false"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-8 zn-column-md-8 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-387400763309"
            class="zn-element-wrapper 
                
              " 
            data-type="banner" data-full-width="false" data-effect="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div id="" class="zn-banner " tabindex="0" role="link"   > 
          <div class="zn-children-container">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-770384891427"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="12 12 12" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-843465492002"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="12 12 12" data-background-type="color" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-571252926627"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h4 id="" class="zn-heading "   >PUTTING THE GLAM IN GLAMPING</h4>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-763540632555"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   >SEE MORE</div>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          
            <div class="zn-column zn-column-lg-4 zn-column-md-4 zn-column-sm-12">
              
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-539626952916"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="12 12 12" data-background-type="color" data-border-enable="true" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-128788904273"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   ><div>NEXT UP</div></h3>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-636340080119"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="6-6 6-6 6-6" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-6 zn-column-md-6 zn-column-sm-6">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-213525218567"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <a href="/products/appalachian-trail-puzzle">
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/Appalachian-Trail-Puzzle-20106552.jpeg" alt="" draggable="false"    />
          
          </a>
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          
            <div class="zn-column zn-column-lg-6 zn-column-md-6 zn-column-sm-6">
              
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-945853805996"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <a href="/products/appalachian-trail-print">
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/-20106613.null" alt="" draggable="false"    />
          
          </a>
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
            </div>
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-778414106200"
            class="zn-element-wrapper 
                
              " 
            data-type="button" data-hover-options="false" data-full-width="false"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-button">
          
          
            
            
            <a href="/collections/appalachian-trail-finds" target="">
          
          <button type="button" id="" class=""   >
            
            <div class="zn-button-text">
              APPALACHIAN TRAIL FINDS
            </div>
          </button>
          
          </a>
          
        </div>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
            </div>
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="page-settings" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="container-style" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="scheduled-publish" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="currency-converter" >
            <div class="zn-addon zn-lg  ">
              
    
  
            </div>
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="messenger" >
            <div class="zn-addon zn-lg  ">
              
    <div class="zn-messenger">
      
      
      <div class="fb-customerchat" page_id="" theme_color="#0A7CFF" greeting_dialog_display="hide"></div>
    </div>
  
            </div>
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="announcement-bar" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="lazy-loading" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="color-palette" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="breakpoints" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="custom-css" >
            
            
            
          </div>
        
</div>