
      <div class="zn-container" >
      
          <div id="znid-623014202100"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i>Baby Opposum by stanley45 via Canva</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-765274064395"
            class="zn-element-wrapper 
                
              " 
            data-type="heading" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   ><p>Like mountain folk, there’s more to this woodland creature than meets the eye.</p></h3>
            </div>
            
            
          </div>
        

          <div id="znid-823999502992"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>Thanks to its toothy snarl, hairless tail, and bulging eyes, the opossum is never going to win a beauty contest, but if this critter were to vie for the position of Appalachia’s official mascot, I reckon it would win big. Here’s why.&nbsp;</p></div>
            </div>
            
            
          </div>
        

          <div id="znid-120059644484"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/Feisty-Opposum-by-KenCanning-via-Canva-8802760.png" alt="" draggable="false"    />
          
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-262923990017"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i>Feisty OpoSsum by KenCanning via Canva</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-802679672165"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   >&nbsp;1. Opossums got grit.&nbsp; &nbsp;</h3>
            </div>
            
            
          </div>
        

          <div id="znid-807786469744"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>Most mountain people I know can white-knuckle their way through just about anything, from push-mowing the back forty to talking politics with ol’ Mr. Jones from church.</p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;"><br></span></p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;">Opossums are equally tenacious. According to Sheldon Owen, a wildlife specialist with West Virginia University Extension, these critters can withstand bites from copperheads, rattlesnakes, and other sinister serpents thanks to a unique peptide in their blood. This compound is so effective at neutralizing snake venom that scientists are researching its utility as an antivenom for humans. So, who knows, one day an opossum might save your snake-poisoned butt.</span></p></div>
            </div>
            
            
          </div>
        

          <div id="znid-995962113839"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/Baby-Opossum-by-JasonOndreicka-via-Canva-8802926.png" alt="" draggable="false"    />
          
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-874052469120"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i>Baby Opossum SHOWS OFF ITS OPPoSABLE THUMB by JasonOndreicka via Canva</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-335063368295"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   >&nbsp;2. opossumS could play the banjo.&nbsp;&nbsp;</h3>
            </div>
            
            
          </div>
        

          <div id="znid-711068464466"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>Okay, I’ve never seen an opossum strum strings, but if you equipped one with a Gibson and an attentive audience, they’d likely put Earl Scruggs to shame.</p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;"><br></span></p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;">You see, unlike most animals, opossums have opposable thumbs on each hind foot. This thumb (also called a hallux) works with their prehensile tail, allowing them to climb trees; hold objects; and, in theory, pluck a foot-tappin’ ditty.&nbsp;</span></p></div>
            </div>
            
            
          </div>
        

          <div id="znid-901587870677"
            class="zn-element-wrapper 
                
              " 
            data-type="heading" data-background-type="color" data-border-enable="true"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   >SHOW OPOSSUMS SOME LOVE</h3>
            </div>
            
            
          </div>
        

          <div id="znid-131302048456"
            class="zn-element-wrapper 
                
              " 
            data-type="collection" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              
            {% assign oriCollection = collection %}
            {% assign collection = collections['show-your-opossum-love'] %} 
            
        <div id="" class="zn-collection "   >
          {% assign productCount = collection.products | size | at_most: 4 %}
          {% if productCount > 0 %}
            {% paginate collection.products by 4 %}
              <div class="zn-products">
              {% for product in collection.products limit:productCount %}
                <div class="zn-product zn-element-wrapper" data-type="product">
                  <div class="zn-product-children">
                    
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-203281985458-{{forloop.index | minus: 1}}"
            class="zn-element-wrapper 
                
              " 
            data-type="product-image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-product-image"   >
          {% assign imageLink = '' %}

          {% if product.images.size > 0 %}
            {% assign imageLink = product.images[0].src | img_url: 'original' %}
          {% endif %}

          {% assign alternateImageLink = imageLink %}
          {% if product.images.size > 1 %}
            {% assign alternateImageLink = product.images[1].src | img_url: 'original' %}
          {% endif %}

          <div class="zn-product-video"></div>

          {% if imageLink != '' %}
          {% if true %}
          <a href="{{product.url}}" class="zn-nodrag">
          {% else %}
          <a>
          {% endif %}
            {% if 'none' == 'zoom' %}
            <img class="zn-secondary-image zn-nodrag" src="{{imageLink}}" alt="{{product.title | escape}}" />
            {% endif %}
            {% if 'none' == 'alternate' %}
            <img class="zn-secondary-image zn-nodrag" src="{{alternateImageLink}}" alt="{{product.title | escape}}" />
            {% endif %}
            <img id="" class=" zn-primary-image zn-nodrag" src="{{imageLink}}" alt="{{product.title | escape}}" />
          </a>
          {% else %}
          <div class="zn-no-image">
            This product has no images.
          </div>
          {% endif %}
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-475287395106-{{forloop.index | minus: 1}}"
            class="zn-element-wrapper 
                
              " 
            data-type="product-title"
            
          >
            <div class="zn-element zn-lg  ">
              
        <h3 id="" class="zn-product-title "   >
          {% if true %}
          <a href="{{product.url}}">
          {% else %}
          <a>
          {% endif %}
            {{product.title}}
          </a>
        </h3>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
                  </div>
                </div>
              {% endfor %}
              </div>

              {% if 'false' == 'true' %}
                <div class="zn-pagination">
                  {% assign prevLink = '' %}
                  {% if paginate.current_page > 1 %}
                    {% assign prevPage = paginate.current_page | minus: 1 %}
                    {% assign prevLink = '?page=' | append: prevPage %}
                  {% endif %}

                  {% assign nextLink = '' %}
                  {% if paginate.current_page < paginate.pages %}
                    {% assign nextPage = paginate.current_page | plus: 1 %}
                    {% assign nextLink = '?page=' | append: nextPage %}
                  {% endif %}

                  <a class="zn-pagination-prev" {% if prevLink != '' %} href="{{prevLink}}" {% endif %}>
                    <svg viewBox="0 0 10 6" style="transform: rotate(90deg); transform-origin: center;">
                      <path d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                  <div class="zn-pagination-page">
                    {{ paginate.current_page }}
                  </div>
                  <a class="zn-pagination-next" {% if nextLink != '' %} href="{{nextLink}}" {% endif %}>
                    <svg viewBox="0 0 10 6" style="transform: rotate(-90deg); transform-origin: center;">
                      <path d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                </div>
              {% endif %}
            {% endpaginate %}
          {% else %}
            <div class="zn-no-product">
              {% if 'SHOW YOUR OPOSSUM LOVE' == '' %}
              Please choose collection to show products from sidebar.
              {% else %}
              No products found. Please add some products to the collection first.
              {% endif %}
            </div>
          {% endif %}
        </div>
       
            {% assign collection = oriCollection %}
          
            </div>
            
            
          </div>
        

          <div id="znid-008637092289"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/Perssimmon-Tree-by-prawit-simmatun-via-Canva-8803089.png" alt="" draggable="false"    />
          
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-547215594919"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i>Perssimmon Tree by prawit_simmatun via Canva</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-635453550681"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   >&nbsp;3. They’re creative culinarians.&nbsp;&nbsp;</h3>
            </div>
            
            
          </div>
        

          <div id="znid-662577866084"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>My meemaw was famous for whipping up finger-licking feasts even when the cupboards were empty. She once made Sunday dinner for my daddy and his 11 siblings using a stick of butter, a cup of cornmeal, and a package of expired chicken livers.</p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;"><br></span></p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;">I think the opossum would make meemaw proud because they too make do with what they’ve got — whether that’s cat food left outside; the flesh of an already dead animal; or persimmons, which they love so much they’ll do a little circular dance when they spot a new fruiting persimmon tree. Heck, if they could reach the table, I’m betting they’d even chow on meemaw’s expired chicken livers.&nbsp;</span></p></div>
            </div>
            
            
          </div>
        

          <div id="znid-489811571324"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/Opposum-on-a-fence-by-galinast-via-Canva-8803219.png" alt="" draggable="false"    />
          
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-285192871181"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i>OpoSsum on a fence by galinast via Canva</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-355138603598"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   >&nbsp;4. They appreciate slow living.&nbsp; &nbsp;</h3>
            </div>
            
            
          </div>
        

          <div id="znid-368719492161"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>Us mountain people aren’t keen on rushing. It’s not that we’re lazy, we just think there’s more to life than chasing the clock. So we savor our vowels, drive well under the speed limit, and spend half an hour saying goodbye. </p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;"><br></span></p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;">Opossums take their time, too. When threatened or late for a potluck, they can manage a seven-mile-per-hour sprint — about half as fast as a raccoon and way slower than a bunny. But typically, these creatures clumsily mosey about, covering less than a mile per hour.&nbsp; &nbsp; &nbsp;&nbsp;</span></p></div>
            </div>
            
            
          </div>
        

          <div id="znid-426384799086"
            class="zn-element-wrapper 
                
              " 
            data-type="heading" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   >MORE APPALACHIAN CRITTERS</h5>
            </div>
            
            
          </div>
        

          <div id="znid-167881074368"
            class="zn-element-wrapper 
                
              " 
            data-type="collection" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              
            {% assign oriCollection = collection %}
            {% assign collection = collections['appalachian-critters'] %} 
            
        <div id="" class="zn-collection "   >
          {% assign productCount = collection.products | size | at_most: 12 %}
          {% if productCount > 0 %}
            {% paginate collection.products by 12 %}
              <div class="zn-products">
              {% for product in collection.products limit:productCount %}
                <div class="zn-product zn-element-wrapper" data-type="product">
                  <div class="zn-product-children">
                    
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-810354919846-{{forloop.index | minus: 1}}"
            class="zn-element-wrapper 
                
              " 
            data-type="product-image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-product-image"   >
          {% assign imageLink = '' %}

          {% if product.images.size > 0 %}
            {% assign imageLink = product.images[0].src | img_url: 'original' %}
          {% endif %}

          {% assign alternateImageLink = imageLink %}
          {% if product.images.size > 1 %}
            {% assign alternateImageLink = product.images[1].src | img_url: 'original' %}
          {% endif %}

          <div class="zn-product-video"></div>

          {% if imageLink != '' %}
          {% if true %}
          <a href="{{product.url}}" class="zn-nodrag">
          {% else %}
          <a>
          {% endif %}
            {% if 'none' == 'zoom' %}
            <img class="zn-secondary-image zn-nodrag" src="{{imageLink}}" alt="{{product.title | escape}}" />
            {% endif %}
            {% if 'none' == 'alternate' %}
            <img class="zn-secondary-image zn-nodrag" src="{{alternateImageLink}}" alt="{{product.title | escape}}" />
            {% endif %}
            <img id="" class=" zn-primary-image zn-nodrag" src="{{imageLink}}" alt="{{product.title | escape}}" />
          </a>
          {% else %}
          <div class="zn-no-image">
            This product has no images.
          </div>
          {% endif %}
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-490861958495-{{forloop.index | minus: 1}}"
            class="zn-element-wrapper 
                
              " 
            data-type="product-title"
            
          >
            <div class="zn-element zn-lg  ">
              
        <h3 id="" class="zn-product-title "   >
          {% if true %}
          <a href="{{product.url}}">
          {% else %}
          <a>
          {% endif %}
            {{product.title}}
          </a>
        </h3>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
                  </div>
                </div>
              {% endfor %}
              </div>

              {% if 'false' == 'true' %}
                <div class="zn-pagination">
                  {% assign prevLink = '' %}
                  {% if paginate.current_page > 1 %}
                    {% assign prevPage = paginate.current_page | minus: 1 %}
                    {% assign prevLink = '?page=' | append: prevPage %}
                  {% endif %}

                  {% assign nextLink = '' %}
                  {% if paginate.current_page < paginate.pages %}
                    {% assign nextPage = paginate.current_page | plus: 1 %}
                    {% assign nextLink = '?page=' | append: nextPage %}
                  {% endif %}

                  <a class="zn-pagination-prev" {% if prevLink != '' %} href="{{prevLink}}" {% endif %}>
                    <svg viewBox="0 0 10 6" style="transform: rotate(90deg); transform-origin: center;">
                      <path d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                  <div class="zn-pagination-page">
                    {{ paginate.current_page }}
                  </div>
                  <a class="zn-pagination-next" {% if nextLink != '' %} href="{{nextLink}}" {% endif %}>
                    <svg viewBox="0 0 10 6" style="transform: rotate(-90deg); transform-origin: center;">
                      <path d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                </div>
              {% endif %}
            {% endpaginate %}
          {% else %}
            <div class="zn-no-product">
              {% if 'APPALACHIAN CRITTERS' == '' %}
              Please choose collection to show products from sidebar.
              {% else %}
              No products found. Please add some products to the collection first.
              {% endif %}
            </div>
          {% endif %}
        </div>
       
            {% assign collection = oriCollection %}
          
            </div>
            
            
          </div>
        

          <div id="znid-885043592803"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/Opposum-in-a-tea-cup-by-DAPA-Images-and-Anton-Ostapenko-via-Canva-8803273.png" alt="" draggable="false"    />
          
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-967565791216"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   >OposSum in a tea cup (COMPOSITE IMAGE) by DAPA Images and Anton Ostapenko via Canva</h5>
            </div>
            
            
          </div>
        

          <div id="znid-682193586901"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   >5. They’re about as misunderstood as us hillbillies.&nbsp; &nbsp;</h3>
            </div>
            
            
          </div>
        

          <div id="znid-157596103312"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>Appalachian folk sure are a misunderstood lot. We drop our g’s and occasionally drink too much moonshine, but that doesn’t mean we’re stupid or out to murder hapless city slickers, as we’re often portrayed. </p><p><br></p><p>Turns out, the world has pretty rotten stereotypes about our opossum friends too, thinking they’re dirty and disease-ridden. That couldn’t be further from the truth. Much like cats, opossums spend a lot of time grooming. Plus, their body temperatures are extremely low, which protects them from many viruses, like rabies.</p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;"><br></span></p><p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit;">It’s also a common misconception that opossums are aggressive. They’re actually quite docile, said Sheldon, the wildlife specialist. A few may hiss or show their pearly whites when approached by a human, but like good country folk, most will just saunter right by you. So don’t be surprised if one day one of these wee marsupials asks how your mama and ‘em’s doing before scuttling back to the holler from whence it came.&nbsp; &nbsp; &nbsp;&nbsp;</span></p></div>
            </div>
            
            
          </div>
        

          <div id="znid-320237471027"
            class="zn-element-wrapper 
                
              " 
            data-type="horizontal_line" data-full-width="false"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-horizontal-line"> 
          <hr id="" class=""    />
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-157991319147"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   >Lauren Stepp is a lifestyle journalist from the mountains of North Carolina. She writes about everything from fifth-generation apple farmers to mixed-media artists, publishing her work in magazines across the Southeast. In her spare time, Lauren mountain bikes, reads gritty southern fiction, and drops her g's.</div>
            </div>
            
            
          </div>
        

          <div id="znid-181960337610"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="8-4 8-4 12-12" data-vertical-align="center" data-border-enable="true" data-full-width="false"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-8 zn-column-md-8 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-184616997889"
            class="zn-element-wrapper 
                
              " 
            data-type="banner" data-full-width="false" data-effect="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div id="" class="zn-banner " tabindex="0" role="link"   > 
          <div class="zn-children-container">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-017961264266"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="12 12 12" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-935498501538"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="12 12 12" data-background-type="color" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-197590234355"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h4 id="" class="zn-heading "   >WANNA SAVE APPALACHIA'S BUTTERFLIES?</h4>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-574998301790"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   >SEE MORE</div>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          
            <div class="zn-column zn-column-lg-4 zn-column-md-4 zn-column-sm-12">
              
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-607168245478"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="12 12 12" data-background-type="color" data-border-enable="true" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-219768594088"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   ><div>NEXT UP</div></h3>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-114794833838"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="6-6 6-6 6-6" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-6 zn-column-md-6 zn-column-sm-6">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-278963505867"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <a href="/products/appalachian-mushrooms">
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/Appalachian-Mushrooms-8804489.jpeg" alt="" draggable="false"    />
          
          </a>
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          
            <div class="zn-column zn-column-lg-6 zn-column-md-6 zn-column-sm-6">
              
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-226901346234"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <a href="/products/sown-in-the-stars-planting-by-the-signs">
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/IMG-1698-1200x-8804528.jpg" alt="" draggable="false"    />
          
          </a>
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
            </div>
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-089108806977"
            class="zn-element-wrapper 
                
              " 
            data-type="button" data-hover-options="false" data-full-width="false"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-button">
          
          
            
            
            <a href="/collections/books" target="">
          
          <button type="button" id="" class=""   >
            
            <div class="zn-button-text">
              OUTDOORSY BOOKS
            </div>
          </button>
          
          </a>
          
        </div>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
            </div>
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="page-settings" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="container-style" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="scheduled-publish" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="currency-converter" >
            <div class="zn-addon zn-lg  ">
              
    
  
            </div>
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="messenger" >
            <div class="zn-addon zn-lg  ">
              
    <div class="zn-messenger">
      
      
      <div class="fb-customerchat" page_id="" theme_color="#0A7CFF" greeting_dialog_display="hide"></div>
    </div>
  
            </div>
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="announcement-bar" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="lazy-loading" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="color-palette" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="breakpoints" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="custom-css" >
            
            
            
          </div>
        
</div>