
      <div class="zn-container" >
      
          <div id="znid-187303404224"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><i>ART BY MIDJOURNEY.</i></h5>
            </div>
            
            
          </div>
        

          <div id="znid-710173910292"
            class="zn-element-wrapper 
                
              " 
            data-type="heading" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   ><p>“My wife and I spent the morning huddled under pillows and blankets on the kitchen floor, as far away from windows as possible.”</p></h3>
            </div>
            
            
          </div>
        

          <div id="znid-493599422847"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p>As a skeptical person, I don’t believe in a lot. I don’t believe in Bigfoot tiptoeing around the backcountry, in ghosts haunting attics, or in myths like throwing salt over your shoulder. (That just makes a mess.) But I sure as hell believe in the magic of mountain communities, especially after Hurricane Helene.</p><p><span style="font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;"><br></span></p><p><span style="font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;">The storm thundered into Western North Carolina very early on Friday, September 27. I know this because I was startled awake at 4 a.m. by a tree branch hitting my roof. The next seven hours were some of the most intense of my life. Driving rain fell while 60-mile-per-hour gusts whipped the forest into a frenzy.</span></p><p><span style="font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;"><br></span></p><p><span style="font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;">My wife and I spent the morning huddled under pillows and blankets on the kitchen floor, as far away from windows as possible. We braced ourselves as the wind howled through our valley and squeezed each other tight when we heard — and felt — the thunderous crash of 80-foot-tall pines falling just feet from our house.</span></p><p><span style="font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;"><br></span></p><p><span style="font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;">“We just have to make it 30 more minutes,” I would whisper to my wife in the darkness. “The wind will die down in 30 more minutes.”</span></p><p><span style="font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;"><br></span></p><p>We needed that bit of blind hope. I kept repeating this little lie until around 11 a.m., when Helene finally got her fill and the skies cleared.&nbsp;</p></div>
            </div>
            
            
          </div>
        

          <div id="znid-038599440889"
            class="zn-element-wrapper 
                
              " 
            data-type="heading" data-background-type="color" data-border-enable="true"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   >SUPPORT CRAFTERS IN HURRICANE DAMAGED AREAS</h3>
            </div>
            
            
          </div>
        

          <div id="znid-527447542880"
            class="zn-element-wrapper 
                
              " 
            data-type="collection" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              
            {% assign oriCollection = collection %}
            {% assign collection = collections['supporter-crafters-in-hurricane-affected-communities'] %} 
            
        <div id="" class="zn-collection "   >
          {% assign productCount = collection.products | size | at_most: 12 %}
          {% if productCount > 0 %}
            {% paginate collection.products by 12 %}
              <div class="zn-products">
              {% for product in collection.products limit:productCount %}
                <div class="zn-product zn-element-wrapper" data-type="product">
                  <div class="zn-product-children">
                    
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-766171572177-{{forloop.index | minus: 1}}"
            class="zn-element-wrapper 
                
              " 
            data-type="product-image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-product-image"   >
          {% assign imageLink = '' %}

          {% if product.images.size > 0 %}
            {% assign imageLink = product.images[0].src | img_url: 'original' %}
          {% endif %}

          {% assign alternateImageLink = imageLink %}
          {% if product.images.size > 1 %}
            {% assign alternateImageLink = product.images[1].src | img_url: 'original' %}
          {% endif %}

          <div class="zn-product-video"></div>

          {% if imageLink != '' %}
          {% if true %}
          <a href="{{product.url}}" class="zn-nodrag">
          {% else %}
          <a>
          {% endif %}
            {% if 'none' == 'zoom' %}
            <img class="zn-secondary-image zn-nodrag" src="{{imageLink}}" alt="{{product.title | escape}}" />
            {% endif %}
            {% if 'none' == 'alternate' %}
            <img class="zn-secondary-image zn-nodrag" src="{{alternateImageLink}}" alt="{{product.title | escape}}" />
            {% endif %}
            <img id="" class=" zn-primary-image zn-nodrag" src="{{imageLink}}" alt="{{product.title | escape}}" />
          </a>
          {% else %}
          <div class="zn-no-image">
            This product has no images.
          </div>
          {% endif %}
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-980723627105-{{forloop.index | minus: 1}}"
            class="zn-element-wrapper 
                
              " 
            data-type="product-title"
            
          >
            <div class="zn-element zn-lg  ">
              
        <h3 id="" class="zn-product-title "   >
          {% if true %}
          <a href="{{product.url}}">
          {% else %}
          <a>
          {% endif %}
            {{product.title}}
          </a>
        </h3>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
                  </div>
                </div>
              {% endfor %}
              </div>

              {% if 'false' == 'true' %}
                <div class="zn-pagination">
                  {% assign prevLink = '' %}
                  {% if paginate.current_page > 1 %}
                    {% assign prevPage = paginate.current_page | minus: 1 %}
                    {% assign prevLink = '?page=' | append: prevPage %}
                  {% endif %}

                  {% assign nextLink = '' %}
                  {% if paginate.current_page < paginate.pages %}
                    {% assign nextPage = paginate.current_page | plus: 1 %}
                    {% assign nextLink = '?page=' | append: nextPage %}
                  {% endif %}

                  <a class="zn-pagination-prev" {% if prevLink != '' %} href="{{prevLink}}" {% endif %}>
                    <svg viewBox="0 0 10 6" style="transform: rotate(90deg); transform-origin: center;">
                      <path d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                  <div class="zn-pagination-page">
                    {{ paginate.current_page }}
                  </div>
                  <a class="zn-pagination-next" {% if nextLink != '' %} href="{{nextLink}}" {% endif %}>
                    <svg viewBox="0 0 10 6" style="transform: rotate(-90deg); transform-origin: center;">
                      <path d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                </div>
              {% endif %}
            {% endpaginate %}
          {% else %}
            <div class="zn-no-product">
              {% if 'SUPPORTER CRAFTERS IN HURRICANE DAMAGED AREAS' == '' %}
              Please choose collection to show products from sidebar.
              {% else %}
              No products found. Please add some products to the collection first.
              {% endif %}
            </div>
          {% endif %}
        </div>
       
            {% assign collection = oriCollection %}
          
            </div>
            
            
          </div>
        

          <div id="znid-631062625808"
            class="zn-element-wrapper 
                
              " 
            data-type="heading" data-background-type="color"
            
          >
            <div class="zn-element zn-lg  ">
              <h5 id="" class="zn-heading "   ><span style="font-weight: normal;"><i>Every purchase helps keep our Appalachian magazine alive, thriving, and free to readers like you.</i></span></h5>
            </div>
            
            
          </div>
        

          <div id="znid-726678240374"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><p><span style="font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;">We were so unimaginably lucky. No one in our cove was hurt and none of our homes were damaged. But the holler itself was in shambles. Fields surged with flood water the color of chocolate milk. Broken power poles stood at half-mast. Fences and outbuildings had dissolved into pitiful piles of rubble.</span></p><p><br></p><p>The road leading out of the cove was also blocked by guy-wires and more than a dozen downed trees, leaving my wife and me, plus about 10 other families, stuck with no power, no cell service, and very limited resources. </p><p><br></p><p>As all of us neighbors stood at the entrance of the cove assessing the damage, I think we silently came to the same conclusion: No one was coming — not police, not firefighters, not EMTs. We were entirely alone. </p><p><br></p><p>It would’ve been easy to let desperation get to us — to argue and turn against one another, or, at the very least, to retreat into our respective homes. Instead, the community came together in a way I’ve never witnessed. </p><p><br></p><p>It all started with Mr. Larson. He made a thermos of hot coffee using a camp stove and went door to door. Then, the Smiths fired up their gas generator to fill jugs with fresh drinking water while the Williamson boys got to work clearing trees. </p><p><br></p><p>Back at our house, my wife and I picked through our pantry, finding yeast and flour for the baker next door, yams for the farmer down the way, and fruit cups for the young kids across the road. Since our beloved kitty passed away a few days before the hurricane, we also rounded up food, litter, treats, and toys for all the cat parents in the cove. Knowing another fur baby would enjoy Thea’s favorite things lightened our grief; her death no longer felt so needless. </p><p><br></p><p>Still, I can’t say the coming days were easy. Being cut off from the world and unable to contact my elderly parents was tough. I spent many sleepless nights anxiously shaking, begging for daylight. But I don’t think my wife and I would’ve survived if it hadn’t been for our neighbors. </p><p><br></p><p>They made us hot meals, gave us water, and provided immense comfort. Together, we cooked s’mores on campfires, played Scrabble, and sat outside watching finches collect berries shaken loose by the storm. Neighbors loved one another not like neighbors, but like kin. </p><p><br></p><p>Some time has passed. I have access to the internet again and have learned that our experience wasn’t unique. Mountain communities across the region have worked together to survive. Neighbors have stepped up in big ways, lending hands, sharing resources, and, at times, risking their own lives to save lives. </p><p><br></p><p>Tragically, not everyone made it through. Over 230 people have died because of Helene, and bodies are still being found. But if it weren’t for the generosity of neighbors, more would have perished — my dad being one. </p><p><br></p><p>Because of a terminal lung condition, he relies on oxygen 24/7. When the power went out at his house, he switched to a portable oxygen concentrator. When that ran out of juice, he sat in the driveway gasping, trying his best to charge the concentrator using the USB port in the car. When the car ran out of gas, he managed to call 911, only to be told the nearest fire department didn’t have the resources to help. </p><p><br></p><p>Desperate for air, my dad had no choice but to shuffle from door to door until he found a neighbor with a small generator. If it weren’t for that neighbor, he wouldn’t be here today.</p><p><br></p><p>When my dad reflects on the aftermath of Hurricane Helene, he says God saved him. I don’t think he’s wrong, but I think the magic of mountain communities sure helped, too. </p><p><br></p><p><i>Names have been changed to protect my neighbors’ privacy.</i></p></div>
            </div>
            
            
          </div>
        

          <div id="znid-887972652857"
            class="zn-element-wrapper 
                
              " 
            data-type="horizontal_line" data-full-width="false"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-horizontal-line"> 
          <hr id="" class=""    />
        </div>
      
            </div>
            
            
          </div>
        

          <div id="znid-837624105035"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   ><div id="znid-983976489376" data-type="text"><div><div id=""><div id="znid-657733542649" data-type="text" data-background-type="none" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false"><div><div>Lauren Stepp is a lifestyle journalist from the mountains of North Carolina. She writes about everything from fifth-generation apple farmers to mixed-media artists, publishing her work in magazines across the Southeast. In her spare time, Lauren mountain bikes, reads gritty southern fiction, and drops her g's.</div></div></div></div></div></div></div>
            </div>
            
            
          </div>
        

          <div id="znid-842325378381"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="8-4 8-4 12-12" data-vertical-align="center" data-border-enable="true" data-full-width="false"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-8 zn-column-md-8 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-761951932630"
            class="zn-element-wrapper 
                
              " 
            data-type="banner" data-full-width="false" data-effect="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div id="" class="zn-banner " tabindex="0" role="link"   > 
          <div class="zn-children-container">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-943383837338"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="12 12 12" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-607534007685"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="12 12 12" data-background-type="color" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-359035548787"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h4 id="" class="zn-heading "   >W.VA. IN A POST-COAL WORLD</h4>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-730295503095"
            class="zn-element-wrapper 
                
              " 
            data-type="text"
            
          >
            <div class="zn-element zn-lg  ">
              <div id="" class="zn-text "   >SEE MORE</div>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          
            <div class="zn-column zn-column-lg-4 zn-column-md-4 zn-column-sm-12">
              
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-348802827358"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="12 12 12" data-background-type="color" data-border-enable="true" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-593482404839"
            class="zn-element-wrapper 
                
              " 
            data-type="heading"
            
          >
            <div class="zn-element zn-lg  ">
              <h3 id="" class="zn-heading "   ><div>NEXT UP</div></h3>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-431473652383"
            class="zn-element-wrapper 
                
              " 
            data-type="row" data-layout="6-6 6-6 6-6" data-full-width="false" data-vertical-align="top"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-row " id="" data-reverse-lg="false" data-reverse-md="false" data-reverse-sm="false"   >
          

          
          

          
          

          
          

          

          
          <div class="zn-column zn-column-lg-6 zn-column-md-6 zn-column-sm-6">
            
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-016843806285"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <a href="/products/the-killing-hills">
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/The-Killing-Hills-28579665.jpg" alt="" draggable="false"    />
          
          </a>
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          
            <div class="zn-column zn-column-lg-6 zn-column-md-6 zn-column-sm-6">
              
            <div class="zn-children">
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-784708586395"
            class="zn-element-wrapper 
                
              " 
            data-type="image" data-filter="none"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-image">
          
          
          <a href="/products/lark-ascending">
          
          <img id="" class=" zn-nodrag" src="https://media.zenobuilder.com/upload/sp-9949/Lark-Ascending-28579693.jpg" alt="" draggable="false"    />
          
          </a>
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
            </div>
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
                <div class="zn-child">
                  <div class="zn-template">
                    
          <div id="znid-528069316642"
            class="zn-element-wrapper 
                
              " 
            data-type="button" data-hover-options="false" data-full-width="false"
            
          >
            <div class="zn-element zn-lg  ">
              
        <div class="zn-button">
          
          
            
            
            <a href="/collections/books" target="">
          
          <button type="button" id="" class=""   >
            
            <div class="zn-button-text">
              APPALACHIAN NOVELS
            </div>
          </button>
          
          </a>
          
        </div>
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
          </div>
         
          
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        
                  </div>
                </div>
              
            </div>
          
            </div>
          

          
          

          
          
        </div>
      
            </div>
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="page-settings" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="container-style" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="scheduled-publish" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="currency-converter" >
            <div class="zn-addon zn-lg  ">
              
    
  
            </div>
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="messenger" >
            <div class="zn-addon zn-lg  ">
              
    <div class="zn-messenger">
      
      
      <div class="fb-customerchat" page_id="" theme_color="#0A7CFF" greeting_dialog_display="hide"></div>
    </div>
  
            </div>
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="announcement-bar" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="lazy-loading" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="color-palette" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="breakpoints" >
            
            
            
          </div>
        

          <div class="zn-addon-wrapper" type="custom-css" >
            
            
            
          </div>
        
</div>