{% comment %}
  ** Maker of the Month **
{% endcomment %}

{% style %}
  /* maker of the month */
.maker_section {
  margin: 40px 0;
}
.maker_heading {
  margin-bottom: 40px;
}
.maker_heading h2 {
  color: #1f989e;
  text-align: center;
  font-family: 'Mr Eaves Mod OT';
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.45px;
  text-transform: uppercase;
}
.maker_grid {
  display: flex;
  gap: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.maker_grid > * {
  flex: 1;
}
.maker_grid a {
  text-decoration: none;
  display: block;
}

.maker_grid .left_item img.makerimg {
  max-height: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.maker_grid .left_item{
  display: flex;
  flex-direction: column;
}
.maker_grid .left_item h3 {
  margin: 0;
  margin-bottom: 15px;
  color: #1f4a50;
  font-family: 'Mr Eaves Mod OT';
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.maker_grid .left_item p {
  margin: 0;
  margin-bottom: 22px;
  color: #1f4a50;
  font-family: Verdana Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.maker_grid .left_item a {
  color: #1f989e;
  font-family: 'Mr Eaves San OT Heavy';
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.maker_grid .left_item a img.arrowimg {
  margin-left: 15px;
  width: 28px;
  margin-bottom: -4px;
}

.maker_grid .maker_products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px 50px;
}

.maker_grid .maker_products .maker_product {
}
.maker_grid .maker_products .maker_product img {
  width: 100%;
  height: 100%;
  max-height: 310px;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.maker_grid .maker_products .maker_product h4 {
  margin: 0;
  color: #1f4a50;
  font-family: Mr Eaves Mod OT;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 9px;
  margin-bottom: 5px;
}
.maker_grid .maker_products .maker_product p {
  margin: 0px;
  color: #1f4a50;
  font-family: 'Mr Eaves Mod OT';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.maker_products.desk {
  display: grid;
}
.maker_products.mob {
  display: none;
}

.maker_slider {
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1200px) and (max-width: 1360px)  {
  .maker_grid{
    gap: 30px;
  }
  .maker_grid .left_item img.makerimg{
    max-height: 400px;
  }
  .maker_grid .left_item h3{
    font-size: 50px;
  }
  .maker_grid .left_item p{
    font-size: 18px;
  }
  .maker_grid .left_item a{
    font-size: 20px;
  }
  .maker_grid .maker_products{
    gap: 20px 30px;
  }
}

@media (min-width: 1025px) and (max-width: 1199px)  {
  .maker_grid{
    gap: 30px;
  }
  
  .maker_grid .left_item img.makerimg{
    max-height: 400px;
  }
  .maker_grid .left_item h3{
    font-size: 40px;
  }
  .maker_grid .left_item p{
    font-size: 16px;
  }
  .maker_grid .left_item a{
    font-size: 18px;
  }
  .maker_grid .maker_products{
    gap: 20px 30px;
  }
}

@media (min-width: 801px) and (max-width: 1024px)  {
 .maker_grid{
    gap: 20px;
  }
  
  .maker_grid .left_item img.makerimg{
    max-height: 400px;
  }
  .maker_grid .left_item h3{
    font-size: 40px;
  }
  .maker_grid .left_item p{
    font-size: 15px;
  }
  .maker_grid .left_item a{
    font-size: 16px;
  }
  .maker_grid .maker_products{
    gap: 20px 20px;
  }
  .maker_grid .left_item a img.arrowimg{
    margin-bottom: -7px;
  }
}



@media (max-width: 800px) {
  .maker_heading h2 {
    font-size: 24px;
  }

  .maker_grid {
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: wrap;
  }
  .maker_grid > * {
    flex-basis: 100%;
  }

  .maker_grid .left_item img.makerimg {
    max-height: 300px;
  }
  .maker_grid .left_item h3 {
    font-size: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .maker_grid .left_item p {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .maker_grid .left_item a {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    display: block;
  }
  .maker_grid .left_item a img.arrowimg{
    margin: 0;
    position: absolute;
    right: 5px;
    top: calc(50% - 11.4px);
  }

  .maker_grid .right_item{
    margin: 0 auto;
    max-width: 1200px;
    flex-basis: 100%;
    width: 100%;
  } 
 
  .maker_grid .maker_products.mob {
    display: block;
    padding-left: 15px;
  }
  .maker_grid .maker_products.desk{display: none;}
   .maker_grid .maker_products img{
     max-width: unset;
   }
  
}

@media (min-width: 500px) and (max-width: 800px){
  .maker_grid .left_item img.makerimg{
    max-height: 65vh;
  }

}
@media (min-width: 701px) and (max-width: 800px){
  .maker_grid{
    gap: 30px;
  }
}

{% endstyle %}
 
<section class="section is-width-wide maker_section">
  <div class="maker_heading text-align-center">
    <h2>{{ section.settings.section_heading }}</h2>
  </div>
  <div class="maker_grid">
    <div class="left_item">
      <img
        src="{{  section.settings.left_image | image_url: width: 800}}"
        alt="{{ section.settings.section_heading }} image"
        class="makerimg"
      >
      <h3>
        {{ section.settings.maker_name }}
      </h3>
      <p>
        {{ section.settings.maker_desc }}
      </p>
      <a href="{{ section.settings.maker_link_url }}">
        {{- section.settings.maker_link_text }}
        <img class="arrowimg" src="{{ 'icon-right.svg' | asset_url }}"/>
    </a>
    </div>
    <div class="right_item">
      <div class="maker_products desk">
        {% assign my_coll_custom = collections[section.settings.coll_custom].products %}
        {% assign product_limit = 0 %}
        {%- for product in my_coll_custom -%}
            {% if product_limit < 4 %}
                <div class="maker_product">
                    <a href="{{ product.url }}">
                        <img src="{{ product.featured_image | image_url: width: 533 }}">
                    </a>
                    <a href="{{ product.url }}">
                        <h4>{{ product.url }}</h4>
                    </a>
                    <p>{{ product.price | money }}</p>
                </div>
                {% assign product_limit = product_limit | plus: 1 %}
                {% else %}
            {%- break -%}
            {% endif %}
        {%- endfor -%}
    </div>
    
      <div class="maker_products maker_slider recommended-new mob">
        <div class="swiper-wrapper">
        {% assign my_coll_custom_mbl = collections[section.settings.coll_custom_mobile].products %}
        {% assign product_limit = 0 %} 
          {%- for product in my_coll_custom_mbl -%}
        {% if product_limit < 4 %}
            <div class="swiper-slide ">
              <div>
                <a href="{{ product.url }}">
                  <img alt="{{ product.title }} image" src="{{  product.featured_image | image_url: width: 533}}">
                </a>
                <div class="card-text">
                  <h5>{{ product.title }}</h5>
                  <span class="product-thumbnail__price price">
                    <span class="money">{{ product.price | money }}</span>
                  </span>
                </div>
              </div>
            </div>
            {% assign product_limit = product_limit | plus: 1 %} 
            {% else %}
            {%- break -%}
        {% endif %}
          {%- endfor -%}
        </div>
        <!-- scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Maker of the Month",
  "settings": [
    {
  "type": "collection",
  "id": "coll_custom",
  "label": " Select Collection"
},
{
  "type": "collection",
  "id": "coll_custom_mobile",
  "label": " Select Collection same For Mobile"
},

    {
      "type": "text",
      "label": "Section Heading",
      "id": "section_heading"
    },
    {
      "type": "image_picker",
      "label": "Maker Image",
      "id": "left_image"
    },
    {
      "type": "text",
      "label": "Maker Name",
      "id": "maker_name"
    },
    {
      "type": "text",
      "label": "Maker Description",
      "id": "maker_desc"
    },
    {
      "type": "text",
      "label": "Link Text",
      "id": "maker_link_text"
    },
    {
      "type": "url",
      "label": "Button URL ",
      "id": "maker_link_url"
    }
  ],
 
  "presets": [
    {
      "name": "Maker of the Month",
      "category": "Image" 
    }
  ],
  "disabled_on": {
    "groups": ["*"]
  }
}
{% endschema %}

{% javascript %}
  var $swiperSelector = $('.maker_slider');

  $swiperSelector.each(function (index) {
    var $this = $(this);
    $this.addClass('swiper-slider-' + index);

    var dragSize = $this.data('drag-size') ? $this.data('drag-size') : 200;
    var freeMode = $this.data('free-mode') ? $this.data('free-mode') : false;
    var loop = $this.data('loop') ? $this.data('loop') : false;
    var slidesDesktop = $this.data('slides-desktop') ? $this.data('slides-desktop') : 4;
    var slidesTablet = $this.data('slides-tablet') ? $this.data('slides-tablet') : 4;
    var slidesMobile = $this.data('slides-mobile') ? $this.data('slides-mobile') : 1.5;
    var spaceBetween = $this.data('space-between') ? $this.data('space-between') : 15;

    var swiper = new Swiper('.swiper-slider-' + index, {
      direction: 'horizontal',
      loop: loop,
      freeMode: freeMode,
      spaceBetween: spaceBetween,
      breakpoints: {
        1920: {
          slidesPerView: slidesDesktop,
        },
        992: {
          slidesPerView: slidesTablet,
        },
        320: {
          slidesPerView: slidesMobile,
        },
      },
      navigation: false,
      scrollbar: {
        el: '.swiper-scrollbar',
        draggable: true,
        dragSize: dragSize,
      },
    });
  });
{% endjavascript %}
