{% comment %}
  ** Maker of the Month **
{% endcomment %}


 
<section class="section is-width-wide maker_section">
  <div class="maker_heading text-align-center">
    <h2>{{ section.settings.section_heading }}</h2>
  </div>
  <div class="maker_grid">
    <div class="left_item">
      <img
        src="{{  section.settings.left_image | image_url: width: 800}}"
        alt="{{ section.settings.section_heading }} image"
        class="makerimg"
      >
      <h3>
        {{ section.settings.maker_name }}
      </h3>
      <p>
        {{ section.settings.maker_desc }}
      </p>
      <a href="{{ section.settings.maker_link_url }}">
        {{- section.settings.maker_link_text }}
        <img class="arrowimg" src="{{ 'icon-right.svg' | asset_url }}"
      ></a>
    </div>
    <div class="right_item">
      <div class="maker_products desk">
        {% assign my_coll_custom = collections[section.settings.collection_list_custom].products | limit: 4 %}
        {%- for product in my_coll_custom -%}
          <div class="maker_product">
            <a href="{{ product.url }}">
              <img src="{{  product.featured_image | image_url: width: 533}}">
            </a>
            <a href="{{ product.url }}">
              <h4>{{ product.url }}</h4>
            </a>
            <p>{{ product.price | money }}</p>
          </div>
        {%- endfor -%}
      </div>
      <div class="maker_products maker_slider recommended-new mob">
        <div class="swiper-wrapper">
        {% assign my_coll_custom_mbl = collections[section.settings.collection_list_custom_mobile].products | limit: 4 %}
          {%- for product in my_coll_custom_mbl -%}
            <div class="swiper-slide ">
              <div>
                <a href="{{ product.url }}">
                  <img alt="{{ product.title }} image" src="{{  product.featured_image | image_url: width: 533}}">
                </a>
                <div class="card-text">
                  <h5>{{ product.title }}</h5>
                  <span class="product-thumbnail__price price">
                    <span class="money">{{ product.price | money }}</span>
                  </span>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <!-- scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Maker of the Month",
  "settings": [
    {
  "type": "collection_list",
  "id": "collection_list_custom",
  "label": " Select Collection"
},
{
  "type": "collection_list",
  "id": "collection_list_custom_mobile",
  "label": " Select Collection same For Mobile"
},
    {
      "type": "text",
      "label": "Section Heading",
      "id": "section_heading"
    },
    {
      "type": "image_picker",
      "label": "Maker Image",
      "id": "left_image"
    },
    {
      "type": "text",
      "label": "Maker Name",
      "id": "maker_name"
    },
    {
      "type": "text",
      "label": "Maker Description",
      "id": "maker_desc"
    },
    {
      "type": "text",
      "label": "Link Text",
      "id": "maker_link_text"
    },
    {
      "type": "url",
      "label": "Button URL ",
      "id": "maker_link_url"
    }
  ],
 
  "presets": [
    {
      "name": "Maker of the Month",
      "category": "Image" 
    }
  ],
  "disabled_on": {
    "groups": ["*"]
  }
}
{% endschema %}

{% javascript %}
  var $swiperSelector = $('.maker_slider');

  $swiperSelector.each(function (index) {
    var $this = $(this);
    $this.addClass('swiper-slider-' + index);

    var dragSize = $this.data('drag-size') ? $this.data('drag-size') : 200;
    var freeMode = $this.data('free-mode') ? $this.data('free-mode') : false;
    var loop = $this.data('loop') ? $this.data('loop') : false;
    var slidesDesktop = $this.data('slides-desktop') ? $this.data('slides-desktop') : 4;
    var slidesTablet = $this.data('slides-tablet') ? $this.data('slides-tablet') : 4;
    var slidesMobile = $this.data('slides-mobile') ? $this.data('slides-mobile') : 1.5;
    var spaceBetween = $this.data('space-between') ? $this.data('space-between') : 15;

    var swiper = new Swiper('.swiper-slider-' + index, {
      direction: 'horizontal',
      loop: loop,
      freeMode: freeMode,
      spaceBetween: spaceBetween,
      breakpoints: {
        1920: {
          slidesPerView: slidesDesktop,
        },
        992: {
          slidesPerView: slidesTablet,
        },
        320: {
          slidesPerView: slidesMobile,
        },
      },
      navigation: false,
      scrollbar: {
        el: '.swiper-scrollbar',
        draggable: true,
        dragSize: dragSize,
      },
    });
  });
{% endjavascript %}
