<style>
    .pres-bg-header{
        background: url( {{ section.settings.Press_bg_laptop |  img_url: 'master' }});
        background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 220px;
    } 
    .pres-bg-header h2{
        color: #FFF;
text-align: center;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    }
    @media screen and (max-width:768px) {
      .pres-bg-header{
        background: url( {{ section.settings.Press_bg_mbl |  img_url: 'master' }});
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
}
      }
    
   @media screen and (min-width:769px) and (max-width:1200px) {
    .pres-bg-header{
      background: url( {{ section.settings.Press_bg_tablet |  img_url: 'master' }});
      background-size: cover;
    min-height: 240px;
    background-position: center center;
    }
   }
   @media screen and ( min-width:1441px){
  .bg-visit-header{
    background: url( {{ section.settings.Press_bg |  img_url: 'master' }});
    background-size: cover;
    min-height: 240px;
    background-position: center center;
  }
}
</style>

<div class="pres-bg-header">
    <h2> {{ section.settings.press_title }} </h2>
</div>



{% schema %}
    {
      "name": "Press-custom",
      "settings": [
        {
          "type": "image_picker",
          "id": "Press_bg",
          "label": "ADD Background image"
        },
        {
          "type": "image_picker",
          "id": "Press_bg_laptop",
          "label": "ADD Background image Laptop"
        },
        {
          "type": "image_picker",
          "id": "Press_bg_tablet",
          "label": "ADD Background image TAblet"
        },
        {
          "type": "image_picker",
          "id": "Press_bg_mbl",
          "label": "ADD Background image Mobile"
        },
        {
            "type":"text",
            "id": "press_title",
            "label": "ADD Title"
        }
      ],
     
      "presets": [
        {
          "name": "Press-custom"
        }
      ]

    }
    {% endschema %}
    