<style>
     .press-tab{
        display: flex;
        width: 100%;
        max-width: 80%;
        margin: 40px auto;
        border: 5px solid #C1A058;
        align-items: center;
    }
    .press-tab-logo{
        width: 100%;
        max-width: 40%;
        text-align: center;
    }
    .press-tab-content{
        width: 100%;
        max-width: 40%;
    }
    .press-tab-img{
        width: 100%;
        max-width: 20%; 
    }
    .press-tab-logo img{
        width: 100%;
        max-width: 65%;

    }
    .press-tab-img img{
        width: 100%;
    }
    .press-tab-content a{
        background: #C1A058;
        padding: 8px 16px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
  font-family: Mr Eaves Mod OT, sans-serif;
  display: inline-block;
  margin-top: 16px;
  color: white;

    }
    .press-tab-content a:hover{
        color: white;
    }
    .press-tab-content h3{
        font-size: 24px;
  font-family: Mr Eaves Mod OT, sans-serif;
  color: #1F989E;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
    }
    .press-tab-content p{
        color: #1F4A50;
        font-family: "Verdana Pro", sans-serif;
        font-size: 20px;
font-weight: 400;
line-height: normal;
margin-top: 16px;
    }
    .show-more a{
        display: inline-block;
        padding: 8px 16px;
        border: 1px solid #BBB2A3;
        color: #1F989E;
        font-family: Mr Eaves Mod OT, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: normal;
background: transparent;
margin: 45px auto 50px auto;
    }
    .show-more a:hover{
        color: #1F989E;
    }
    .show-more{
        text-align: center;
    }
.press-contact{
    width: 100%;
    max-width: 100%;
display: flex;
position: relative;
}
.contact-content-press{
    width: 100%;
    max-width: 50%;
    background: #1F989E;
    color: white;
}
.img-z-index{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
.press-contact-img{

width: 100%;
    max-width: 50%;
}
.side-contact{
    width: 100%;
}
.press-contact h1,
.press-contact p,
.press-contact a{
    color: white;
}
</style>
{% for block in section.blocks %}
<div class="press-tab">
    <div class="press-tab-logo">
        <img src="{{ block.settings.first_image |  img_url: 'master' }}" alt="">
    </div>
    <div class="press-tab-content">
        <h3> {{ block.settings.Press_title }} </h3>
        <p> {{ block.settings.Press_subtitle }} </p>
        <a href=" {{ block.settings.Press_btn_link }} "> {{ block.settings.Press_btn }} </a>
    </div>
    <div class="press-tab-img">
        <img  src=" {{ block.settings.second_image |  img_url: 'master' }} " alt="">
    </div>

</div>
{% endfor %}
<div class="show-more">
    <a href=" {{ section.settings.show_more_btn_tab_link }} "> {{ section.settings.show_more_btn_tab }} </a>
</div>

<div class="press-contact">
    <div class="contact-content-press">
        <h1> {{ section.settings.add_contact_title }} </h1>
        <p> {{ section.settings.contact_subtitle }} </p>
        <a href=" {{ section.settings.btn_contact_link }} "> {{ section.settings.button_text_contact }} </a>
    </div>
    <div class="press-contact-img">
        <img class="side-contact" src=" {{ section.settings.about_img |  img_url: 'master' }} " alt="">
        <div class="img-z-index">
            <img src=" {{ section.settings.short_image |  img_url: 'master' }} " alt="">
        </div>
    </div>

</div>

{% schema %}
    {
      "name": "Press-Tab",
      "settings": [
        {
            "type": "text",
            "id": "show_more_btn_tab",
            "label": "ADD Show More"
        },
        {
            "type": "url",
            "id": "show_more_btn_tab_link",
            "label": "ADD Button link"
        },
        {
            "type": "text",
            "id": "add_contact_title",
            "label": "ADD Contact Title"
        },
        {
            "type": "richtext",
            "id": "contact_subtitle",
            "label": "ADD Contact SubTitle"
        },
        {

        "type": "text",
        "id": "button_text_contact",
        "label": "ADD Button"
        },
        {
            "type": "url",
            "id": "btn_contact_link",
            "label": "ADD Button Link"
        },

        {
            "type":"image_picker",
            "id": "about_img",
            "label": "ADD Contact Image"
        },
        {
            "type": "image_picker",
            "id": "short_image",
            "label": "ADD Small Image"

        }
        
      ],
      "blocks": [
         {
           "name": "Slide",
           "type": "slide",
           "settings": [
             {
               "type": "image_picker",
               "id": "first_image",
               "label": "ADD Brand Image"
             },
             {
                "type": "text",
                "id": "Press_title",
                "label": "ADD Title"
             },
             {
                "type": "text",
                "id": "Press_subtitle",
                "label": "ADD Sub Title"
             },
             {
                "type": "text",
                "id": "Press_btn",
                "label": "ADD Button"
             },
             {
                "type": "url",
                "id": "Press_btn_link",
                "label": "ADD Button Link"
             },
             {
                "type": "image_picker",
               "id": "second_image",
               "label": "ADD Texture Image"
             }
           ]
         }
      ],
      "presets": [
        {
          "name": "Press-Tab"
        }
      ]

    }
    {% endschema %}