<style>
 .bg-visit-header{
background:url( {{ section.settings.main_bg_visit | img_url: 'master' }});
background-size:cover;
background-position:center center;
padding: 95px 0;
 }   
 .bg-visit-header h2 {
    font-size: 58px;
    color: white;
    text-align: center;
    width: 39%;
    margin: 0 auto;
} 
.main-page-content{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.rich-text p {
    font-size: 20px;
    font-weight: 400;
}


.tabs {
  width: 100%;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
ul#tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 8px 10px;
  cursor: pointer;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color: #08E;
}
#tabs-nav li a {
  text-decoration: none;
  color:black;
  
}
.tab-content {
  padding: 10px;
  border: 5px solid #09F;
  background-color: #FFF;
}

</style>




<div class="bg-visit-header">
    <h2> {{ section.settings.title_main }} </h2>
</div>
<div class="main-page-content">
<div class="rich-text">
{{ section.settings.main-rich-text }}
</div>
<div class="visit-img">
<img src="{{ section.settings.main_visit | img_url: "master"}}">
</div>


{% comment %} tabs {% endcomment %}
<div class="tabs">
  <ul id="tabs-nav">
    {% for block in section.blocks %}
      {% if block.type == 'Title' %}
    <li><a href="#tab1"> {{ block.settings.Tab_main_title }} </a></li>
    
  </ul> <!-- END tabs-nav -->
  <div id="tabs-content">
    {% elsif block.type == 'Content' %} 
    <div id="tab1" class="tab-content">
      <h2> {{ block.settings.Tab_main_heading }} </h2>
      <p> {{ block.settings.Tab_main_subheading }} </p>
    </div>
  {% endif %}
  
  {% endfor %}
  </div> 
</div> 
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  // Show the first tab and hide the rest
$('#tabs-nav li:first-child').addClass('active');
$('.tab-content').hide();
$('.tab-content:first').show();

// Click function
$('#tabs-nav li').click(function(){
  $('#tabs-nav li').removeClass('active');
  $(this).addClass('active');
  $('.tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
});
</script>
{% schema %}
    {
      "name": "Custom-visit",
      "settings": [
        {
          "type": "text",
          "id": "title_main",
          "label": "ADD Title"
        },
        {
          "type": "image_picker",
          "id": "main_bg_visit",
          "label": "ADD Background Image"
        },
        {
            "type": "richtext",
            "id": "main-rich-text",
            "label": "ADD Content"
        },
        {
          "type": "image_picker",
          "id": "main_visit",
          "label": "ADD Image"
        }
      ],
      "blocks": [
         {
           "name": "TAb Title",
           "type": "text",
           "settings": [
             {
               "type": "text",
               "id": "Tab_main_title",
               "label": "ADD TAb Title"
             }
           ]
         },
         {
           "name": "Tab Content",
           "type": "Content",
           "settings": [
             {
               "type": "text",
               "id": "Tab_main_heading",
               "label": "ADD TAb Heading"
             },
             {
               "type": "text",
               "id": "Tab_main_subheading",
               "label": "ADD TAb Text"
             }
           ]
         }
      ],
      "presets": [
        {
          "name": "Custom-visit"
          
        }
      ]
      
    }
    {% endschema %}
    