<style>
 .bg-visit-header{
background:url( {{ section.settings.main_bg_visit | img_url: 'master' }});
background-size:cover;
background-position:center center;
padding: 95px 0;
 }   
 .bg-visit-header h2 {
    font-size: 58px;
    color: white;
    text-align: center;
    width: 39%;
    margin: 0 auto;
} 
.main-page-content{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.rich-text {
    margin: 40px 0;
}
.rich-text p {
    font-size: 20px;
    font-weight: 400;
}
.tabs-my {
  width: 100%;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  overflow: auto;
  border: 2px solid #BBB2A3;
    padding: 14px 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}
ul#tabs-nav li {
  float: left;
  font-size: 19px;
  font-weight: 700;
text-transform: uppercase;
  cursor: pointer;
  margin-left: 32px;

}
ul#tabs-nav li:hover a,
ul#tabs-nav li.active a {
  color: #C1A058;
}
#tabs-nav li a {
  text-decoration: none;
  color: #1F969E;
  text-transform: uppercase;
  
}
.tab-content h2{
  display: flex;
    align-items: center;
    gap: 10px;
}
/* .tab-content {
  padding: 10px;
  border: 5px solid #09F;
  background-color: #FFF;
} */
.tab-first,
.tab-second,
.tab-third{
  margin-top: 47px;
}
.tab-third{
  margin-bottom: 47px;
}
ul#tabs-nav li {
    width: 100%;
    max-width: 22%;
    text-align: center;
}
/* ul#tabs-nav li:nth-child(2) {
    width: 100%;
    max-width: 22%;
    text-align: center;
}
ul#tabs-nav li:nth-child(3) {
    width: 100%;
    max-width: 22%;
    text-align: center;
}
ul#tabs-nav li:nth-child(4) {
    width: 100%;
    max-width: 22%;
    text-align: center;
} */
.custom-slider{
  display: none;
}

@media screen and (max-width:768px) {
  .custom-slider{
    display: block;
  }
  #tabs-nav{
    display: none !important;
  }
  .custom-slide{
    display: none;

  }
}
</style>




<div class="bg-visit-header">
    <h2> {{ section.settings.title_main }} </h2>
</div>
<div class="main-page-content">
<div class="rich-text">
{{ section.settings.main-rich-text }}
</div>
<div class="visit-img">
<img src="{{ section.settings.main_visit | img_url: "master"}}">
</div>


{% comment %} tabs {% endcomment %}
<div class="tabs-my">
  <ul id="tabs-nav">
    {% for block in section.blocks %}
      {% if block.type == 'text' %}
        <li><a href="#{{ block.settings.Tab_id }}"> {{ block.settings.Tab_main_title }} </a></li>
      {% endif %}
    {% endfor %}
  </ul> <!-- END tabs-nav -->
   <!-- Swiper -->
   <div class="swiper mySwiper custom-slider">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
      <div class="swiper-slide">
            <li><a href="#{{ block.settings.Tab_id }}"> {{ block.settings.Tab_main_title }} </a></li>
      </div>
    {% endfor %}
    </div>
    <div class="swiper-button-next custom-slide"></div>
    <div class="swiper-button-prev custom-slide"></div>
  </div>
  
  <div id="tabs-content">
    {% for block in section.blocks %}
      {% if block.type == 'Content' %}
        <div id="{{ block.settings.Tab_content_id }}" class="tab-content">
          <div class="tab-first">
            <h2>{{ block.settings.Tab_main_heading_1 }} <img src=" {{ block.settings.tab_img_1 |  img_url: 'master' }} "> </h2>
          <p>{{ block.settings.Tab_main_subheading_1 }}</p>
          </div>

        <div class="tab-second">
          <h2>{{ block.settings.Tab_main_heading_2 }} <img src=" {{ block.settings.tab_img_2 |  img_url: 'master' }} "> </h2>
          <p>{{ block.settings.Tab_main_subheading_2 }}</p>
        </div>

         <div class="tab-third">
          <h2>{{ block.settings.Tab_main_heading_3 }} <img src=" {{ block.settings.tab_img_3 |  img_url: 'master' }} "> </h2>
          <p>{{ block.settings.Tab_main_subheading_3 }}</p>
         </div>
        </div>
      {% endif %}
    {% endfor %}
  </div> 
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  
//   // Show the first tab and hide the rest
// $('#tabs-nav li:first-child').addClass('active');
// $('.tab-content').hide();
// $('.tab-content:first').show();

// // Click function
// $('#tabs-nav li').click(function(){
//   $('#tabs-nav li').removeClass('active');
//   $(this).addClass('active');
//   $('.tab-content').hide();
//   var activeTab = $(this).find('a').attr('href');
//   // $(activeTab).fadeIn();
//   return true;
// });
// Show the first tab and hide the rest

document.querySelector('#tabs-nav li:first-child').classList.add('active');
document.querySelectorAll('.tab-content').forEach(function(tabContent) {
    tabContent.style.display = 'none';
});
document.querySelectorAll('.tab-content')[0].style.display = 'block';

// Click function
document.querySelectorAll('#tabs-nav li').forEach(function(tab) {
    tab.addEventListener('click', function() {
        document.querySelectorAll('#tabs-nav li').forEach(function(item) {
            item.classList.remove('active');
        });
        this.classList.add('active');

        document.querySelectorAll('.tab-content').forEach(function(content) {
            content.style.display = 'none';
        });
        var activeTab = this.querySelector('a').getAttribute('href').substring(1);
        document.getElementById(activeTab).style.display = 'block';
    });
});

</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 2.4,
  spaceBetween: 20,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
{% schema %}
    {
      "name": "Custom-visit",
      "settings": [
        {
          "type": "text",
          "id": "title_main",
          "label": "ADD Title"
        },
        {
          "type": "image_picker",
          "id": "main_bg_visit",
          "label": "ADD Background Image"
        },
        {
            "type": "richtext",
            "id": "main-rich-text",
            "label": "ADD Content"
        },
        {
          "type": "image_picker",
          "id": "main_visit",
          "label": "ADD Image"
        }
      ],
      "blocks": [
         {
           "name": "TAb Title",
           "type": "text",
           "settings": [
             {
               "type": "text",
               "id": "Tab_main_title",
               "label": "ADD TAb Title"
             },
             {
               "type": "text",
               "id": "Tab_id",
               "label": "ADD TAb Id"
             }
           ]
         },
         {
           "name": "Tab Content",
           "type": "Content",
           "settings": [
            {
               "type": "text",
               "id": "Tab_content_id",
               "label": "ADD TAb id"
             },
            {
               "type": "text",
               "id": "Tab_main_heading_1",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_1",
                "label": "ADD Arrow Icon"
              },
            {
               "type": "text",
               "id": "Tab_main_subheading_1",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_2",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_2",
                "label": "ADD Arrow Icon"
              },
              {
               "type": "text",
               "id": "Tab_main_subheading_2",
               "label": "ADD TAb Text"
             }, 
             {
               "type": "text",
               "id": "Tab_main_heading_3",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_3",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_3",
               "label": "ADD TAb Text"
             }
             
            
           ]
         }
      ],
      "presets": [
        {
          "name": "Custom-visit"
          
        }
      ]
      
    }
    {% endschema %}
    