<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<style>
 .bg-visit-header{
background:url( {{ section.settings.main_bg_visit_Laptop | img_url: 'master' }});
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 220px;
 }   
 .bg-visit-header h2 {
    font-size: 58px;
    color: white;
    text-align: center;
    width: 39%;
    margin: 0 auto;
    padding-bottom: 25px;
} 
.main-page-content{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.rich-text {
    margin: 40px 0;
}
.rich-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;  
}
.tabs-my {
  width: 100%;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  overflow: auto;
  border: 2px solid #BBB2A3;
    padding: 14px 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul#tabs-nav li {
  float: left;
  font-size: 29px;
  font-weight: 700;
text-transform: uppercase;
  cursor: pointer;
  margin-left: 15px;
  font-family: "Mreavessanot bold";
}
ul#tabs-nav li:hover a,
ul#tabs-nav li.active a {
  color: #C1A058;
}

#tabs-nav li a {
  text-decoration: none;
  color: #1F969E;
  text-transform: uppercase;
  
}
.tab-content a{
  display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Mreavessanot bold";
}

.tab-first,
.tab-second,
.tab-third{
  margin-top: 38px;
}
.tab-first p,
.tab-second p,
.tab-third p{
    margin-top: 24px;
    line-height: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Verdana Pro", sans-serif;

}
.tab-first a,
.tab-second a,
.tab-third a{
  color: #1F989E !important;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.1px;
text-transform: uppercase;
  font-family: "Mreavessanot bold";
}
.tab-first a img,
.tab-second a img,
.tab-third a img{
  margin-left: 10px;
}
.tab-third{
  margin-bottom: 47px;
}
ul#tabs-nav li {
    width: 100%;
    max-width: 21%;
    text-align: center;
}
ul#tabs-nav li:nth-child(1) {
    max-width: 19%;
    margin: 0 5px;
}
ul#tabs-nav li:nth-child(2) {
    max-width: 19%;
    margin: 0 5px;
} 
ul#tabs-nav li:nth-child(3) {
    max-width: 19%;
    margin: 0 5px;
}
ul#tabs-nav li:nth-child(4) {
    max-width: 19%;
    margin: 0 5px;
}
ul#tabs-nav li:nth-child(7) {
    max-width: 26%;
}
.custom-slider{
  display: none;
}
.mobile{
  display: none;
}
.visit-img{
  margin-bottom: 40px;
}
h2.desktop {
    line-height: normal;
    font-family: "Mreavessanot bold";

}
.mobile-img{
  display: none;
}
.mbl-tbl{
  display: none;
}
@media screen and (max-width:768px) {
  .mobile-img{
    display: block;
  }
  .custom-slider{
    display: block;
  }
  #tabs-nav{
    display: none !important;
  }
  .custom-slide{
    display: none;

  }
  .visit-desktop{
    display: none;
  }
  .bg-visit-header{
background:url( {{ section.settings.main_bg_visit_mbl | img_url: 'master' }});
background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-visit-header h2{
  padding: 0;
}
  .desktop{
    display: none;
  }
  .mobile{
  display: block;
  font-size: 40px !important;
}
.main-page-content{
  max-width: 95%;
}
.tab-first, .tab-second, .tab-third, .tab-fourth, .tab-five, .tab-six, .tab-seven, .tab-eight, .tab-nine, .tab-ten, .tab-eleven, .tab-twelve, .tab-thirteen, .tab-fourteen, .tab-fifteen {
    margin-top: 20px !important;
}
.tab-first a, .tab-second a, .tab-third a{
  font-size: 20px;
}
.tab-first p, .tab-second p, .tab-third p{
  font-size: 16px;
}
.swiper-abc{
  font-size: 20px;
  font-family: Mr Eaves Mod OT, sans-serif !important;
  font-weight: 700;
}
}
@media screen and (min-width:769px) and (max-width:1340px) {
  ul#tabs-nav li {
    width: 100%;
    max-width: 20%;
    text-align: center;
    margin-left: 12px;
}
.bg-visit-header h2{
  font-size: 45px;
  width: 60%;
}
ul#tabs-nav li {
    font-size: 15px;
}
ul#tabs-nav li:nth-child(7) {
  max-width: 32%;
}
}
@media screen and ( min-width:1441px){
  .bg-visit-header{
background:url( {{ section.settings.main_bg_visit | img_url: 'master' }});
    background-size: cover;
    min-height: 240px;
    background-position: center center;
  }
}
@media screen  and (min-width:769px) and (max-width:1200px) {
  .bg-visit-header{
background:url( {{ section.settings.main_bg_visit_tablet | img_url: 'master' }});
    background-size: cover;
    min-height: 240px;
    background-position: center center;
  }
}
@media screen and (min-width:425px) and (max-width:768px) {
  .mbl-tbl{
    display: block;
  }
  .mobile-img{
    display: none;
  }
}
</style>




<div class="bg-visit-header">
    <h2 class="desktop"> {{ section.settings.title_main }} </h2>
    <h2 class="mobile"> {{ section.settings.title_main_mbl }} </h2>
</div>
<div class="main-page-content">
<div class="rich-text">
{{ section.settings.main-rich-text }}
</div>
<div class="visit-img">
<img class="visit-desktop" src="{{ section.settings.main_visit | img_url: "master"}}">
<img src=" {{ section.settings.main_visit_mobile |  img_url: 'master' }} " alt="" class="mobile-img">
<img class="mbl-tbl" src="{{ section.settings.main_visit_mobile_sec |  img_url: 'master' }}" alt="">
</div>


{% comment %} tabs {% endcomment %}
<div class="tabs-my">
  <ul id="tabs-nav">
    {% for block in section.blocks %}
      {% if block.type == 'text' %}
        <li><a href="#{{ block.settings.Tab_id }}"> {{ block.settings.Tab_main_title }} </a></li>
      {% endif %}
    {% endfor %}
  </ul> <!-- END tabs-nav -->
 
   <!-- Swiper -->
   <div class="swiper mySwiper custom-slider">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
            {% if block.type == 'text' %}
                <div class="swiper-slide">
                    <a class="swiper-abc" href="#{{ block.settings.Tab_id }}"> {{ block.settings.Tab_main_title }} </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
  <!-- Swiperend -->
  <div id="tabs-content">
    {% for block in section.blocks %}
      {% if block.type == 'Content' %}
        <div id="{{ block.settings.Tab_content_id }}" class="tab-content">
         {% if block.settings.Tab_main_heading_1 != blank and block.settings.tab_img_1 != blank and block.settings.Tab_main_subheading_1 != blank %}
        <div class="tab-first">
            <a>{{ block.settings.Tab_main_heading_1 }} <img src=" {{ block.settings.tab_img_1 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_1 }}</p>
          </div>
        {% endif %}
        {% if block.settings.Tab_main_heading_2 != blank and block.settings.tab_img_2 != blank and block.settings.Tab_main_subheading_2 != blank %}

        <div class="tab-second">
          <a>{{ block.settings.Tab_main_heading_2 }} <img src=" {{ block.settings.tab_img_2 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_2 }}</p>
        </div>
      {% endif %}
      {% if block.settings.Tab_main_heading_3 != blank and block.settings.tab_img_3 != blank and block.settings.Tab_main_subheading_3 != blank %}

         <div class="tab-third">
          <a>{{ block.settings.Tab_main_heading_3 }} <img src=" {{ block.settings.tab_img_3 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_3 }}</p>
         </div>
        {% endif %}
        {% if block.settings.Tab_main_heading_4 != blank and block.settings.tab_img_4 != blank and block.settings.Tab_main_subheading_4 != blank %}
        
         <div class="tab-fourth">
          <a>{{ block.settings.Tab_main_heading_4 }} <img src=" {{ block.settings.tab_img_4 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_4 }}</p>
         </div>
        {% endif %}
        {% if block.settings.Tab_main_heading_5 != blank and block.settings.tab_img_5 != blank and block.settings.Tab_main_subheading_5 != blank %}

         <div class="tab-five">
          <a>{{ block.settings.Tab_main_heading_5 }} <img src=" {{ block.settings.tab_img_5 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_5 }}</p>
         </div>
        {% endif %}
        {% if block.settings.Tab_main_heading_6 != blank and block.settings.tab_img_6 != blank and block.settings.Tab_main_subheading_6 != blank %}

         <div class="tab-six">
          <a>{{ block.settings.Tab_main_heading_6 }} <img src=" {{ block.settings.tab_img_6 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_6 }}</p>
         </div>
        {% endif %}

         {% if block.settings.Tab_main_heading_7 != blank and block.settings.tab_img_7 != blank and block.settings.Tab_main_subheading_7 != blank %}

         <div class="tab-seven">
          <a>{{ block.settings.Tab_main_heading_7 }} <img src=" {{ block.settings.tab_img_7 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_7 }}</p>
         </div>
        {% endif %}

         {% if block.settings.Tab_main_heading_8 != blank and block.settings.tab_img_8 != blank and block.settings.Tab_main_subheading_8 != blank %}

         <div class="tab-eight">
          <a>{{ block.settings.Tab_main_heading_8 }} <img src=" {{ block.settings.tab_img_8 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_8 }}</p>
         </div>
        {% endif %}

         {% if block.settings.Tab_main_heading_9 != blank and block.settings.tab_img_9 != blank and block.settings.Tab_main_subheading_9 != blank %}
          <div class="tab-nine">
          <a>{{ block.settings.Tab_main_heading_9 }} <img src=" {{ block.settings.tab_img_9 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_9 }}</p>
         </div>
        {% endif %}

         {% if block.settings.Tab_main_heading_10 != blank and block.settings.tab_img_10 != blank and block.settings.Tab_main_subheading_10 != blank %}
          <div class="tab-`Ten">
          <a>{{ block.settings.Tab_main_heading_10 }} <img src=" {{ block.settings.tab_img_10 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_10 }}</p>
         </div>
        {% endif %}

         {% if block.settings.Tab_main_heading_11 != blank and block.settings.tab_img_11 != blank and block.settings.Tab_main_subheading_11 != blank %}
          <div class="tab-eleven">
          <a>{{ block.settings.Tab_main_heading_11 }} <img src=" {{ block.settings.tab_img_11 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_11 }}</p>
         </div>
        {% endif %}

         {% if block.settings.Tab_main_heading_12 != blank and block.settings.tab_img_12 != blank and block.settings.Tab_main_subheading_12 != blank %}
          <div class="tab-twelve">
          <a>{{ block.settings.Tab_main_heading_12 }} <img src=" {{ block.settings.tab_img_12 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_12 }}</p>
         </div>
        {% endif %}

         {% if block.settings.Tab_main_heading_13 != blank and block.settings.tab_img_13 != blank and block.settings.Tab_main_subheading_13 != blank %}
         <div class="tab-thirteen">
          <a>{{ block.settings.Tab_main_heading_13 }} <img src=" {{ block.settings.tab_img_13 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_13 }}</p>
         </div>
        {% endif %}

         {% if block.settings.Tab_main_heading_14 != blank and block.settings.tab_img_14 != blank and block.settings.Tab_main_subheading_14 != blank %}
         <div class="tab-fourteen">
          <a>{{ block.settings.Tab_main_heading_14 }} <img src=" {{ block.settings.tab_img_14 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_14 }}</p>
         </div>
        {% endif %}

         {% if block.settings.Tab_main_heading_15 != blank and block.settings.tab_img_15 != blank and block.settings.Tab_main_subheading_15 != blank %}
         <div class="tab-fifteen">
          <a>{{ block.settings.Tab_main_heading_15 }} <img src=" {{ block.settings.tab_img_15 |  img_url: 'master' }} "> </a>
          <p>{{ block.settings.Tab_main_subheading_15 }}</p>
         </div>
        {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div> 
   

</div>
</div>

<script>
document.querySelector('#tabs-nav li:first-child').classList.add('active');
document.querySelectorAll('.tab-content').forEach(function(tabContent) {
    tabContent.style.display = 'none';
});
document.querySelectorAll('.tab-content')[0].style.display = 'block';

// Click function
document.querySelectorAll('#tabs-nav li').forEach(function(tab) {
    tab.addEventListener('click', function() {
        document.querySelectorAll('#tabs-nav li').forEach(function(item) {
          if(item.classList)
            item.classList.remove('active');
        });
      if(this.classList){
        this.classList.add('active');
      }
        document.querySelectorAll('.tab-content').forEach(function(content) {
            content.style.display = 'none';
        });
        var activeTab = this.querySelector('a').getAttribute('href').substring(1);
        document.getElementById(activeTab).style.display = 'block';
    });
});

  
  // Click function
document.querySelectorAll('.swiper-slide').forEach(function(tab) {
    tab.addEventListener('click', function() {
        document.querySelectorAll('#tabs-nav li').forEach(function(item) {
          if(item.classList)
            item.classList.remove('active');
        });
      if(this.classList){
        this.classList.add('active');
      }
        document.querySelectorAll('.tab-content').forEach(function(content) {
            content.style.display = 'none';
        });
        var activeTab = this.querySelector('a').getAttribute('href').substring(1);
        document.getElementById(activeTab).style.display = 'block';
    });
});
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>

  var swiper = new Swiper(".custom-slider", {
    slidesPerView: 2,
  spaceBetween: 16,
    // navigation: {
    //   nextEl: ".swiper-button-next",
    //   prevEl: ".swiper-button-prev",
    // },
    breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 2,
      spaceBetween: 10
    },
    // when window width is >= 480px
    480: {
      slidesPerView: 3,
      spaceBetween: 30
    },
  },
  });
</script>

{% schema %}
    {
      "name": "Custom-visit",
      "settings": [
        {
          "type": "text",
          "id": "title_main",
          "label": "ADD Title"
        },
        {
          "type": "text",
          "id": "title_main_mbl",
          "label": "ADD Title for Mobile"
        },
        {
          "type": "image_picker",
          "id": "main_bg_visit",
          "label": "ADD Background Image"
        },
        {
          "type": "image_picker",
          "id": "main_bg_visit_Laptop",
          "label": "ADD Background Image for Laptop"
        },
        {
          "type": "image_picker",
          "id": "main_bg_visit_tablet",
          "label": "ADD Background Image for Tablet"
        },
        {
          "type": "image_picker",
          "id": "main_bg_visit_mbl",
          "label": "ADD Background Image for Mobile"
        },
        {
            "type": "richtext",
            "id": "main-rich-text",
            "label": "ADD Content"
        },
        {
          "type": "image_picker",
          "id": "main_visit",
          "label": "ADD Image"
        },
        {
          "type": "image_picker",
          "id": "main_visit_mobile",
          "label": "ADD Mobile Image"
        },
        {
          "type": "image_picker",
          "id": "main_visit_mobile_sec",
          "label": "ADD Mobile Image2"
        }
      ],
      "blocks": [
         {
           "name": "TAb Title",
           "type": "text",
           "settings": [
             {
               "type": "text",
               "id": "Tab_main_title",
               "label": "ADD TAb Title"
             },
             {
               "type": "text",
               "id": "Tab_id",
               "label": "ADD TAb Id"
             }
           ]
         },
         {
           "name": "Tab Content",
           "type": "Content",
           "settings": [
            {
               "type": "text",
               "id": "Tab_content_id",
               "label": "ADD TAb id"
             },
            {
               "type": "text",
               "id": "Tab_main_heading_1",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_1",
                "label": "ADD Arrow Icon"
              },
            {
               "type": "text",
               "id": "Tab_main_subheading_1",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_2",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_2",
                "label": "ADD Arrow Icon"
              },
              {
               "type": "text",
               "id": "Tab_main_subheading_2",
               "label": "ADD TAb Text"
             }, 
             {
               "type": "text",
               "id": "Tab_main_heading_3",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_3",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_3",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_4",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_4",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_4",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_5",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_5",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_5",
               "label": "ADD TAb Text"
             }  ,
             {
               "type": "text",
               "id": "Tab_main_heading_6",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_6",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_6",
               "label": "ADD TAb Text"
             }    ,
             {
               "type": "text",
               "id": "Tab_main_heading_7",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_7",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_7",
               "label": "ADD TAb Text"
             }   ,
             {
               "type": "text",
               "id": "Tab_main_heading_8",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_8",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_8",
               "label": "ADD TAb Text"
             }    ,
             {
               "type": "text",
               "id": "Tab_main_heading_9",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_9",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_9",
               "label": "ADD TAb Text"
             }  ,
             {
               "type": "text",
               "id": "Tab_main_heading_10",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_10",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_10",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_11",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_11",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_11",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_12",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_12",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_12",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_13",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_13",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_13",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_14",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_14",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_14",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_15",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_15",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_15",
               "label": "ADD TAb Text"
             }  
            
           ]
         }
      ],
      "presets": [
        {
          "name": "Custom-visit"
          
        }
      ]
      
    }
    {% endschema %}
    