<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<style>
 .bg-visit-header{
background:url( {{ section.settings.main_bg_visit | img_url: 'master' }});
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 220px;
 }   
 .bg-visit-header h2 {
    font-size: 58px;
    color: white;
    text-align: center;
    width: 39%;
    margin: 0 auto;
    padding-bottom: 25px;
} 
.main-page-content{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.rich-text {
    margin: 40px 0;
}
.rich-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;  
}
.tabs-my {
  width: 100%;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  overflow: auto;
  border: 2px solid #BBB2A3;
    padding: 14px 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul#tabs-nav li {
  float: left;
  font-size: 29px;
  font-weight: 700;
text-transform: uppercase;
  cursor: pointer;
  margin-left: 15px;
  font-family: "Mreavessanot bold";
}
ul#tabs-nav li:hover a,
ul#tabs-nav li.active a {
  color: #C1A058;
}

#tabs-nav li a {
  text-decoration: none;
  color: #1F969E;
  text-transform: uppercase;
  
}
.tab-content h2{
  display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Mreavessanot bold";
}

.tab-first,
.tab-second,
.tab-third{
  margin-top: 38px;
}
.tab-first p,
.tab-second p,
.tab-third p{
    margin-top: 24px;
    line-height: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Verdana Pro", sans-serif;

}
.tab-first h2,
.tab-second h2,
.tab-third h2{
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
  font-family: "Mreavessanot bold";

}
.tab-first h2 img,
.tab-second h2 img,
.tab-third h2 img{
  margin-left: 10px;
}
.tab-third{
  margin-bottom: 47px;
}
ul#tabs-nav li {
    width: 100%;
    max-width: 21%;
    text-align: center;
}
ul#tabs-nav li:nth-child(1) {
    max-width: 19%;
    margin: 0 5px;
}
ul#tabs-nav li:nth-child(2) {
    max-width: 19%;
    margin: 0 5px;
} 
ul#tabs-nav li:nth-child(3) {
    max-width: 19%;
    margin: 0 5px;
}
ul#tabs-nav li:nth-child(4) {
    max-width: 19%;
    margin: 0 5px;
}
ul#tabs-nav li:nth-child(7) {
    max-width: 26%;
}
.custom-slider{
  display: none;
}
.mobile{
  display: none;
}
.visit-img{
  margin-bottom: 40px;
}
h2.desktop {
    line-height: normal;
    font-family: "Mreavessanot bold";

}
@media screen and (max-width:768px) {
  .custom-slider{
    display: block;
  }
  #tabs-nav{
    display: none !important;
  }
  .custom-slide{
    display: none;

  }
  .bg-visit-header{
background:url( {{ section.settings.main_bg_visit_mbl | img_url: 'master' }});
background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-visit-header h2{
  padding: 0;
}
  .desktop{
    display: none;
  }
  .mobile{
  display: block;
  font-size: 40px !important;
}
.main-page-content{
  max-width: 90%;
}
.swiper-abc{
  font-size: 15px;
}
.tab-first, .tab-second, .tab-third {
    margin-top: 20px !important;
}

}
@media screen and (min-width:769px) and (max-width:1340px) {
  ul#tabs-nav li {
    width: 100%;
    max-width: 20%;
    text-align: center;
    margin-left: 12px;
}
ul#tabs-nav li {
    font-size: 15px;
}
ul#tabs-nav li:nth-child(7) {
  max-width: 32%;
}
}
@media screen and ( min-width:1441px){
  .bg-visit-header{
    background-size: cover;
    min-height: unset;
    padding: 95px 0;
  }
}
</style>




<div class="bg-visit-header">
    <h2 class="desktop"> {{ section.settings.title_main }} </h2>
    <h2 class="mobile"> {{ section.settings.title_main_mbl }} </h2>
</div>
<div class="main-page-content">
<div class="rich-text">
{{ section.settings.main-rich-text }}
</div>
<div class="visit-img">
<img src="{{ section.settings.main_visit | img_url: "master"}}">
</div>


{% comment %} tabs {% endcomment %}
<div class="tabs-my">
  <ul id="tabs-nav">
    {% for block in section.blocks %}
      {% if block.type == 'text' %}
        <li><a href="#{{ block.settings.Tab_id }}"> {{ block.settings.Tab_main_title }} </a></li>
      {% endif %}
    {% endfor %}
  </ul> <!-- END tabs-nav -->
 
   <!-- Swiper -->
   <div class="swiper mySwiper custom-slider">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
            {% if block.type == 'text' %}
                <div class="swiper-slide">
                    <a class="swiper-abc" href="#{{ block.settings.Tab_id }}"> {{ block.settings.Tab_main_title }} </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
  <!-- Swiperend -->
  <div id="tabs-content">
    {% for block in section.blocks %}
      {% if block.type == 'Content' %}
        <div id="{{ block.settings.Tab_content_id }}" class="tab-content">
          <div class="tab-first">
            <h2>{{ block.settings.Tab_main_heading_1 }} <img src=" {{ block.settings.tab_img_1 |  img_url: 'master' }} "> </h2>
          <p>{{ block.settings.Tab_main_subheading_1 }}</p>
          </div>

        <div class="tab-second">
          <h2>{{ block.settings.Tab_main_heading_2 }} <img src=" {{ block.settings.tab_img_2 |  img_url: 'master' }} "> </h2>
          <p>{{ block.settings.Tab_main_subheading_2 }}</p>
        </div>

         <div class="tab-third">
          <h2>{{ block.settings.Tab_main_heading_3 }} <img src=" {{ block.settings.tab_img_3 |  img_url: 'master' }} "> </h2>
          <p>{{ block.settings.Tab_main_subheading_3 }}</p>
         </div>
        </div>
      {% endif %}
    {% endfor %}
  </div> 
   

</div>
</div>

<script>
document.querySelector('#tabs-nav li:first-child').classList.add('active');
document.querySelectorAll('.tab-content').forEach(function(tabContent) {
    tabContent.style.display = 'none';
});
document.querySelectorAll('.tab-content')[0].style.display = 'block';

// Click function
document.querySelectorAll('#tabs-nav li').forEach(function(tab) {
    tab.addEventListener('click', function() {
        document.querySelectorAll('#tabs-nav li').forEach(function(item) {
            item.classList.remove('active');
        });
        this.classList.add('active');

        document.querySelectorAll('.tab-content').forEach(function(content) {
            content.style.display = 'none';
        });
        var activeTab = this.querySelector('a').getAttribute('href').substring(1);
        document.getElementById(activeTab).style.display = 'block';
    });
});

</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>

  var swiper = new Swiper(".custom-slider", {
    slidesPerView: 2,
  spaceBetween: 16,
    // navigation: {
    //   nextEl: ".swiper-button-next",
    //   prevEl: ".swiper-button-prev",
    // },
    breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 2.3,
      spaceBetween: 20
    },
    // when window width is >= 480px
    480: {
      slidesPerView: 3,
      spaceBetween: 30
    },
  },
  });
</script>

{% schema %}
    {
      "name": "Custom-visit",
      "settings": [
        {
          "type": "text",
          "id": "title_main",
          "label": "ADD Title"
        },
        {
          "type": "text",
          "id": "title_main_mbl",
          "label": "ADD Title for Mobile"
        },
        {
          "type": "image_picker",
          "id": "main_bg_visit",
          "label": "ADD Background Image"
        },
        {
          "type": "image_picker",
          "id": "main_bg_visit_mbl",
          "label": "ADD Background Image for Mobile"
        },
        {
            "type": "richtext",
            "id": "main-rich-text",
            "label": "ADD Content"
        },
        {
          "type": "image_picker",
          "id": "main_visit",
          "label": "ADD Image"
        }
      ],
      "blocks": [
         {
           "name": "TAb Title",
           "type": "text",
           "settings": [
             {
               "type": "text",
               "id": "Tab_main_title",
               "label": "ADD TAb Title"
             },
             {
               "type": "text",
               "id": "Tab_id",
               "label": "ADD TAb Id"
             }
           ]
         },
         {
           "name": "Tab Content",
           "type": "Content",
           "settings": [
            {
               "type": "text",
               "id": "Tab_content_id",
               "label": "ADD TAb id"
             },
            {
               "type": "text",
               "id": "Tab_main_heading_1",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_1",
                "label": "ADD Arrow Icon"
              },
            {
               "type": "text",
               "id": "Tab_main_subheading_1",
               "label": "ADD TAb Text"
             },
             {
               "type": "text",
               "id": "Tab_main_heading_2",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_2",
                "label": "ADD Arrow Icon"
              },
              {
               "type": "text",
               "id": "Tab_main_subheading_2",
               "label": "ADD TAb Text"
             }, 
             {
               "type": "text",
               "id": "Tab_main_heading_3",
               "label": "ADD TAb Heading"
             },
             {
              "type": "image_picker",
               "id": "tab_img_3",
                "label": "ADD Arrow Icon"
              },{
               "type": "text",
               "id": "Tab_main_subheading_3",
               "label": "ADD TAb Text"
             }
             
            
           ]
         }
      ],
      "presets": [
        {
          "name": "Custom-visit"
          
        }
      ]
      
    }
    {% endschema %}
    